.header {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	&__container {
		height: 100vh;
		background: var(--header-bg-color);
		&__title {
			color: var(--heading-text-color);
			font-weight: 600;
			font-size: clamp(28px, 5vw, 48px);
			width: 40%;
		}
	}
}
