.header {
	max-width: 1650px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 20px 0 20px;
	&__container {
		border-radius: 30px;
		height: calc(100vh - 80px);
		background: var(--header-bg-color);
		padding-left: var(--padding-wrapper);
		padding-right: var(--padding-wrapper);
		&__text {
			display: flex;
			align-items: center;
			gap: 20px;
			height: 90%;
			&__title {
				h1 {
					color: var(--heading-text-color);
					font-weight: 600;
					font-size: var(--h1-size);
					padding-bottom: 25px;
				}
			}
		}
	}
}
