.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	position: sticky;
	&__list {
		display: flex;
		gap: 60px;
		li {
			a {
				text-decoration: none;
				color: var(--color-black);
				font-size: 16px;
				line-height: auto;
				letter-spacing: 0;
			}
		}
	}
}
